.primary-color{
        -fx-background-color: #101512;
}

.secondary-color{
    -fx-background-color: #10202A;
}

.round-border{
    -fx-background-color: #000000;
}

.text{
    -fx-text-fill: #BBBBBB;
}

.button{
    -fx-background-color: #10202A;
    -fx-text-fill: #BBBBBB;
}